* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}

#nav ul {
  text-align: left;
  background-color: #984063;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  position: sticky;
  top: 0;
}


#nav li {
  float: left;
  padding: 40px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  ;
}

#nav li a {
  font-family: 'Times New Roman', Times, serif;
  color: #FE9677;
  text-decoration: none;
  padding: 20px;
  font-style: none;
  display: inline;
}

#navitem {
  background-color: #905d71;
}

li a:hover:not(#navitem) {
  background-color: #984063;
}

#nav li a:hover {
  background-color: #9c4769;
  transition: 0.2ms;
}

body {
  background-image: linear-gradient(to bottom, rgba(152, 64, 99), rgba(0, 0, 255, 0.5)), url("photos/backg.png");

}

.container {
  width: 100%;
  height: 100vh;
  background-position: center;
}

.field {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  max-height: 50rem;
  background-color: #f3f3f3;
  padding: 60px 50px;
  box-shadow: 0 4rem 6rem rgb(0 0 0);
  border-radius: 1000px;
}

.input {
  text-align: center;
}

#a {
  display: inline-block;
  object-position: bottom;
  position: absolute;
}

.b {
  display: inline;
}

h1 {
  text-shadow: #ff0000;
  color: rgb(20, 19, 19);
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
}

h3 {
  text-align: center;
  font-style: italic;
}

.submit {
  background-color: #984063;
  height: 50px;
  border: none;
  padding: 15px 100px;
  cursor: pointer;
  border-radius: 50px;
  color: #f3f3f3;
  font-size: medium;
  margin-top: 0%;


}

.submit2 {
  margin-top: 1rem;
  background-color: #ffb7a0;
  height: 50px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 50px;
  color: #f3f3f3;
  font-size: medium;
  margin-top: 10%;
  margin-bottom: 10px;
}

h5 {
  line-height: 0px;
}

#about ul {
  background-color: #984063;
  margin: 10px;
  list-style-position: inside;
  list-style-type: none;
  border-radius: 30px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
}

#about a {
  text-decoration: none;
  color: #000000;
}

#Y {
  list-style-image: url("../photos/iconyoutube.png");
}

#F {
  list-style-image: url("../photos/iconfacebook.png");
}

#I {
  list-style-image: url("../photos/iconinstagram.png");
}

#T {
  list-style-image: url("../photos/icontwitter.png");
}

#about li:hover {
  background-color: #9c4769;
}
